<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Document</title>
</head>

<style>

body {
  background-image: url('https://img.freepik.com/free-vector/blue-white-low-poly-triangle-shapes-background_1035-19007.jpg?w=996&t=st=1681550990~exp=1681551590~hmac=42af8efd90d4133f13fe02926b6e6618fef6e4f93e0d6af24c961c6b1c84f189');
  background-repeat: no-repeat;
  background-size: cover;
}
.text{
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.244);
    font-weight: bold;
    padding-left: 2%;
}
</style>

<body>

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="https://i.ibb.co/B4wBkdD/mail.png" width="40" height="40" class="d-inline-block align-top" alt="">
            &emsp; <b style="font-size: larger;">SPAM or !SPAM</b>
        </a>
    </nav>

    <div class="alert alert-primary" role="alert">
        Hello There! Enter your E-mail and check is it a Spam or Not
    </div>

    <form action="{{ url_for('predict')}}" , method="post">
        <div class="form-group" style="max-width: 600px; padding: 2%;">
            <h3 for="exampleInputEmail1">Enter Your Mail</h3>

            <textarea class="form-control" cols="30" rows="10" name="text" placeholder="Enter your mail text here..."></textarea>
        </div>


        <button type="submit" class="btn btn-primary" style="width: 40%;">Submit</button>
    </form>

    <br>
    <h4 class="text" style="color: gray;">{{msg}}</h4>
    <h4 class="text" style="color: green;">{{ham}}</h4>
    <h4 class="text" style="color: red;">{{spam}}</h4>
    <!-- <a href="https://ibb.co/PTtgk3p"><img src="https://i.ibb.co/B4wBkdD/mail.png" alt="mail" border="0" /></a> -->
</body>

</html>